---
import BaseLayout from '../layouts/BaseLayout.astro';
import prodotti from '../data/prodotti.json';
---

<BaseLayout titolo="Official Store">
  <div class="layout-container">
    
    <main>
      <h1 class="hero-title">
        U'RE 
        <span>TRAPPIN'</span>
      </h1>
      
      <div class="product-grid">
        {prodotti.map((prodotto) => (
          <article class="product-card">
             <a href={`/prodotto/${prodotto.id}`} class="card-link">
                
                <div class="product-image-container">
                  <img 
                    src={`${prodotto.img_fronte}`} 
                    alt={prodotto.nome} 
                    transition:name={`immagine-${prodotto.id}`}
                    loading="lazy"
                  />
                </div>

                <div class="product-info">
                  <h3>{prodotto.nome}</h3>
                  <span class="product-price">€ {prodotto.prezzo}</span>
                </div>

             </a>
          </article>
        ))}
      </div>

    </main>
  </div>
</BaseLayout>